body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111;
}
*{
    font-size: 20px !important;
}
.App {
  height: 100vh;
  display: flex;
  align-items: center;
}
p {
  color: white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.item {
  height: 100%;
  margin-right: 9px;
}
.sliderclicks {
  height: 450px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.slider {
  display: flex;
  height: 100%;
  flex: 2;
}
.rot {
  transform: skew(-20deg) !important; 
  width: 60px;
  border: 1px solid;
}

.current {
  width: 300px !important;
}
.sora {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 30% !important;
  cursor: pointer;
}

.controlSlider {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.Button{
    background: transparent;
    border: none;
    cursor: pointer;
}